button{
    padding-inline: 10px;
    padding-block: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
  }
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .div{
    width: 200px;
    height: 200px;
    display: flex;
    background-color: transparent;
    border: 1px solid black;
  }